
h1{
    text-align: center;
}
#calc{
    width:400px;
    height:70vh;
    margin: auto;
    border-radius: 15px;
    border:1px solid black;
    overflow-wrap: nowrap;
    background-color:rgb(83, 73, 73);
}
#new{
    width:70%;
    height:50px;
    display: block;
    margin: auto;
    margin-top:40px;
    pointer-events: none;
    border-radius: 15px;
    border: none;
    
}
.btn{
    width:60px; 
    height:40px;
    margin:.4rem;
    margin-top:.1;
    background-color: red;
}
.btns{
    text-align: center;
}
#clear{
    color:rgb(240, 240, 240)
}
#result{
    color:rgb(240, 240, 240);
    margin-top: -.1rem;
}
